table{
    text-align: center;
    border-collapse: collapse;
    width: 70%;
}
tr{
    border: solid black 2px;
}
td{
    border: solid black 2px;
    padding: 5px;
}
th{
    border: solid black 2px;
    padding: 5px;
}
.antesTabla{
    text-align: center;
}